/* Style Contact Page */

form{
	display: inline-block;
	position: absolute;
	top: 300px;
	left: 500px;
}
input{
	display: inline-block;
}
button{
	border: 25px solid chocolate;
	color: black;
	background-color: chocolate;

}
.p{
	font-style: bold;
	font-size: 30px;
	color: black;
}

/* Style Navigation Menu */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: chocolate;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: darkred;
}
a:hover {
  color: darkgreen;
}
a:active {
  color: indigo;
}

/* Style About Page */

img {
    float: none;
    width:  300px;
    height: 300px;
    object-fit: cover;
    background-color: chocolate;
}

p{
  font-size: 20px;
  color: white;
}

h1{
  color: white;
}

/* Style Home Page */

.boxmodel{
  width: 300px;
  height: 200px;
  text-decoration: none;
  border: 5px solid brown;
  color: chocolate;
  text-align: center;
}
.para{
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
  color: white;
  top: 100px;
  text-align: left;
}